# Supabase
SUPABASE_URL=https://ldipundnojizgnykqvdd.supabase.co
SUPABASE_ANON_KEY=sb_publishable_l5NXtUaTUkl6zzEMZlBAjw_fw-8YJb7
SUPABASE_SECRET_KEY=your-secret-key-here

# CurseForge
CURSEFORGE_API_KEY=your-curseforge-api-key-here
